#main {
  
 /* background-color: #B9F6DE*/;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  box-shadow: 0px 0px 5px #d8d8d8;
  -moz-box-shadow: 0px 0px 5px #d8d8d8;
  -webkit-box-shadow: 0px 0px 5px #d8d8d8;
  border-bottom: 15px solid #fff;
}
.form-group{
  margin-top: 10px;
}
#main #content {
  
  float: left;
  padding: 35px 30px 60px 30px;
  font-family: museo;
}
#main #content img {
  height: auto;
  width: 100%;
}
#main #content h2 {
    font-size: 24px; 
    font-family: museo;
    font-weight: 
    normal; 
    text-transform: uppercase;
    margin: 0 0 15px 0;
}
.fa-facebook:hover{
  color:blue;
  opacity: .5;
  animation-name: flash;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 5px;
}

.fa-twitter:hover{
  color:#3a5795;
  opacity: .5;
  animation-name: fadeIn;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 5px;
}

.fa-instagram:hover{
  color:#892c22;
  opacity: .5;
  animation-name: bounceIn;
  animation-duration: 1s; 
  animation-timing-function: ease-out; 
  animation-delay: 1s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: none;
  animation-play-state: running;
  border-radius: 5px;
}

#main #side {
  font-family: museo;
  padding: 35px 30px 0px 0px;
}
  
#main p {
    margin: 0 0 24px 0;
}

#mainNavbar ul li a{
  color: white;
  font-family: museo;
}
 ul li ul {
  display: block;
  position: relative;
}
 ul li ul li{
    display: none;
    background-color:#071F2D;
    font-family: museo;
    z-index: 1;
}
  ul li ul li a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: museo;
}
ul li:hover ul li   {
  display: block;
  position: relative; 
  overflow: hidden;
}
ul li:hover ul li a  {
  text-decoration: none;
}

.navbar-brand{
  color: #04A9CE;
}
.navbar {
  background-color: #071F2D;
}

.navbar-toggle .icon-bar {
    background-color: black;
}
.active{
  background-color: #29394D;
}

.loppy_1 {
  padding-right: 5%;
  padding-bottom: 1%;
}
table {
    font-family: museo;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #3e5c7f;
    text-align: cent;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    text-align: right;
}
tr td{
  text-align: center;
}
tr th{
  text-align: center;
}
.anim{
  animation-name: fadeIn;
  animation-duration: 3s; 
  animation-timing-function: ease-out; 
  animation-delay: 3s;
  animation-direction: alternate;
  animation-iteration-count: 3;
  animation-fill-mode: none;
  animation-play-state: running;
}








.fa fa-twitter{
  color: black;
}
footer {
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#000;
   text-align: center;
   color: #fff;
   font-family: museo;

}
footer a{
  color: white;
}

@media only screen and (max-width: 700px) {
    body {
        
    }
    footer {
     position: fixed;
     left:0px;
     bottom:0px;
     height:30px;
     width:100%;
     background:#000;
     text-align: center;
     color: #fff;
}
  .loppy_1 {
  padding-bottom: 10%;
  background-color: white;

}
.container {
  background-color: 
  padding: 20px;
}



}
 